#canvas {
    background-color: #000;
    width: 200px;
    height: 200px;
    border: none;
    margin: 100px;
    padding: 0;
    position: static; /* fixed or static */
    top: 100px;
    left: 100px;
}